<!doctype html>
<html lang="zh">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Touch2Keys</title>
    <script type="module" crossorigin src="/static/assets/index-I_Xgq1Hy.js"></script>
    <link rel="stylesheet" crossorigin href="/static/assets/index-DV790Zcj.css">
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>
